#!/bin/sh

# Alter the username/server and path and use this script to distribute documentation

rsync -azv --delete docutils/html/disttools -e ssh <user>@<server>:/srv/www/skolesys/doc.skolesys.dk/
rsync -azv --delete docutils/html/reference -e ssh <user>@<server>:/srv/www/skolesys/doc.skolesys.dk/
