 /* StyleSheet coding standards:

1. use lowercase if possible

2. format styles like this:

body
{
	font-size: 12px;
	font-family: Verdana, Arial, Helvetica, sans-serif
}

3. existing html elements on top of the document, then all self defined .classes and at last all self defined #id's.

4. close every property with ; also the last one. */


/* ================ General ================ */

body 
{
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

form
{
	margin:0px;
	padding:0px;
}

img
{
	border-width:0px;
	border-style:none;
}

hr
{
	border: 0px;
	color: #929292;
	background-color: #929292;
	height: 1px;
	width: 130px;	
}

td
{
	font-size: 11px;
}

/* ================ Links ================ */


a:link,a:visited,a:active
{
	cursor:pointer;
	color: #474747; 
	text-decoration: none;
}

a:hover,a:active
{
	cursor:pointer;
	color: #75A6D8;
	text-decoration: underline;
}

/* ====== General classes for CABO ToolBar. ====== */ 

#CaboMenuBar
{
	background-image:url(../images/CABO_ToolBar/cabomenubar-background.png);
	/*height: 28px;*/
	border-bottom: 1px solid #aaa;
	text-align: right;
}

#CaboMenuSearch
{
	width: 135px;
	padding-right: 5px;
}

.CaboMenuItem a {
	font-size: 9pt;
	padding: 3px 5px 3px 4px;
	background-image: url('../images/login/button_bg.gif');
	border: solid 1px #eee;
	border-color: #ddd #eee #eee #ddd;
	margin: 0px 4px 0px 0px;
	float: left; 
}

.CaboMenuItem a:hover {
	border: solid 1px #ddd;
	background-color: #eee;
	color: #000;
	text-decoration: none;
	background-image: none;
}

.CaboMenuItem a img {
	margin-right: 3px;
	float: left;
}

.CaboMenuItem
{
	vertical-align: top;
	padding: 3px 3px 3px 3px;
}

.CaboMenuItem_highlighted
{

}

.CaboMenuItemDark
{
	color: #ffffff;
}

.CaboMenuItemDark_highlighted
{

}



/* ====== General classes, for global use. ====== */

.greyLine
{
	margin: 1px;
	border-top-color: #7e7e7e;
	border-top-width: 1px;
	border-top-style: solid;
	height: 1px;
	padding: 0px;
}

.highlighted 
{
	background-color: #cbccdb;
	/*background-color: #989db9;*/
	color: #ffffff;
}

.highlighteddark
{
	background-color: #8388a5;
	color: #ffffff;
}

.selectable
{
	background-color: #b7bbcd;
	color: #ffffff;
}

.selected
{
	background-color: #989db9;
	color: #ffffff;
}

.disabled
{
	background-color: #d6d8df;
	color: #c0c0c0;
}

/* ====== General classes for portalboxes. ====== */


.portalBoxTitle
{
	background-image:url(../images/CABO_ToolBar/cabomenubar-background.png);
	height: 24px;
	border: solid 1px #ddd;
	padding: 2px 10px;
}

.portalBoxTitle strong
{
	float: left;
	color: #616fa5;
	font-size: 10pt;
}

.portalBoxTitle span
{
	float: right;
	margin-top: 2px;
}



.portalBoxContent 
{
	border: solid 1px #ddd;
	border-top-width: 0px;
	padding: 10px;
}

.portalBoxContent ul
{
	margin: 0px;
}

.portalBoxContent li
{
	line-height: 150%;
}

/* ================ Calendar hack =========== */


.portalBoxContent table table font {
	position: relative;
	display: block;
	background-image: url(../images/titlebar-bg.gif);
 	text-align: left;
    white-space: nowrap;
    background-color: #eee;
    border: 1px solid #e9e9e9;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    padding: 3px 3px 3px 0px;
	font-size: 10px;
	cursor: default;
	color: #666;
}

.portalBoxContent table table table br {
	display: none;
}

.portalBoxContent table table table font {
	left: 0px;
	background-image: none;
	padding: 0px;
	border: none;
	background-color: none;
}

.portalBoxContent table table table div {
	background-color: white;
}

table.portalBoxFelamimail
{
	margin-top: 5px;
}

.portalBoxFelamimail tr.hover {
	background-color: #e6e9f6;
}

.portalBoxFelamimail td
{
    /*white-space: nowrap;*/
    padding-right: 5px;
    padding-left: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
	border-bottom: solid 1px #eee;
}

.portalBoxFelamimail td img
{
	float: left;
	margin-right: 3px;
}
.portalBoxFelamimail th
{
	background-image: url(../images/titlebar-bg.gif);
 	text-align: left;
    white-space: nowrap;
    background-color: #eee;
    border: 1px solid #e9e9e9;
    border-bottom: 1px solid #ccc;
    font-weight: normal;
    padding: 3px 3px 3px 6px;
	font-size: 10px;
	cursor: default;
}

strong.portalBoxFelamimail {
	color: #616fa5;
	padding-bottom: 10px;
}

.portalBoxMailDark					/* Box CSS for FelamiMail frontbox. We really should put this somewhere else ;) */
{
	background-color: #f1f1f1;
	border-width: 1 1 1 1px;
	border-color: #e1e2df;
}



/* =============== Layout =============== */

.titlebar
{
	background-image: url(../images/titlebar-bg.gif);
	background-color: #eee;
	border-bottom: solid 1px #aaa;
	padding: 2px;
	text-align: center;
	height: 16px;
	_height: 21px;
}


/* ============ Lists/tables ============ */

th.list, table.list th, .list_header
{
	background-image: url(../images/titlebar-bg.gif);
 	text-align: left;
    white-space: nowrap;
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
    border-right: 1px solid #e9e9e9;
    font-weight: normal;
    empty-cells: show;
    padding: 3px 3px 3px 9px;
	font-size: 10px;
	cursor: default;
}

.list .list_icon
{
    padding: 3px 3px 3px 3px;
	text-align: center;
}

.list .no_padding
{
    padding: 0px 0px 0px 0px;
	text-align: center;
}

table.list td
{
    /*white-space: nowrap;*/
    padding-right: 5px;
    padding-left: 9px;
    padding-top: 2px;
    padding-bottom: 2px;
    vertical-align: top;
}

.list th a
{
    display: block;
}

.list th a b
{
	color: #666;
	/*float: left;*/
}

.list th a img
{
	position: relative;
	top: 1px;
	/*float: right;*/
}

.list th a:hover
{
	color: #000;
}

td.list_line, table.list_line td
{
	border-bottom: solid 1px #eee;
        empty-cells: show;
    white-space: nowrap;
}

td.list_line_compact, table.list_line_compact td
{
        padding: 0px 3px 2px 3px;
	border-bottom: solid 1px #eee;
        empty-cells: show;
    white-space: nowrap;
}

td.list_line_compact_right
{
        padding: 0px 3px 2px 3px;
	border-bottom: solid 1px #eee;
        text-align: right;
        empty-cells: show;
    white-space: nowrap;
}

.row_off
{
	color: #f5f5f5;
}

.row_on
{
	color: #fafafa;
}


table.list tr.hover
{
	background-color: #e6e9f6;
}

table.list tr.selected {
	background-image: url('../images/selected.png');
	border-bottom-width: 0px;
	color: #fff;
}

table.list tr.selected a {
	color: white;
}

.list_selected {background-image: url('../images/bg.png');}
.list_selected td {color: white;}

/* ============== Properties =============== */

.property_label
{
	font-weight: bold;
	font-size: 9pt;
	color: #bbb;
}

.property_text
{
	line-height: 130%;
	font-size: 9pt;
}

.property_extra
{
	font-size: 90%;
	color: #aaa
}



/* ================= Buttons =============== */

input,button
{
	margin: 0px;
	padding: 3px 5px 3px 5px;
	_padding: 1px 0px 0px 2px;
	border-width: 1px;
	border-color: #999 #777 #777 #999;
	color:#666666;
}

input[type=submit],input[type=button],input[type=reset],button
{
	margin: 0px;
	padding: 3px 5px 3px 5px;
	_padding: 1px 0px 0px 2px;
	height: 24px;
	background-image:url('../images/login/button_bg.gif');
	background-repeat: repeat-x;
	border-width: 1px;
	border-color: #999 #777 #777 #999;
	color:#666666;
	cursor: pointer;
}

input.button, button.button
{
	margin: 0px;
	padding: 2px 5px 3px 5px;
	height: 24px;
	background-image:url('../images/login/button_bg.gif');
	background-repeat: repeat-x;
	border-width: 1px;
	border-color: #999 #777 #777 #999;
	border-style: solid;
	color:#666666;
	cursor: pointer;
	background-color: #fefefe;
}

input.button_small, button.button_small
{
	margin: 0px;
	padding: 0px 3px 1px 3px;
	height: 20px;
	background-image:url('../images/login/button_bg.gif');
	background-repeat: repeat-x;
	border-width: 1px;
	border-color: #999 #888 #888 #999;
	border-style: solid;
	color:#666666;
	cursor: pointer;
	background-color: #fefefe;
	font-size: 10px;
}

a.button_small
{
	margin: 0px;
	padding: 2px 3px 3px 3px;
	background-image:url('../images/login/button_bg.gif');
	background-repeat: repeat-x;
	border-width: 1px;
	border-color: #999 #888 #888 #999;
	border-style: solid;
	color:#666666;
	cursor: pointer;
	background-color: #fefefe;
	font-size: 10px;
}

a.button_small:hover {
	text-decoration: none;
}

input.button_hilited
{
	font-weight: bold;
	color: #000;
}

input.button:hover {
	color: #000;
}

div.button_group
{
	margin-top: 20px;
	text-align: right;
}

div.button_group input.button, div.button_group button.button {
	margin-left: 5px;	
}




/* ================== Input ==================== */


input.textfield,                      /* Standard size textfields */
textarea.textfield
{
	font: 10pt Verdana, Tahoma, Arial, Helvetica, sans-serif;
	padding: 2px 0px 2px 2px;
	border-color: #999 #ddd #ddd #999;
	border-style: solid;
	border-width: 1px;
	color: #000;
}

input.textfield {_height: 22px;}

input.textfield_small,                      /* Small size textfields */
textarea.textfield_small
{
	border-color: #999 #ddd #ddd #999;
	border-style: solid;
	border-width: 1px;
	color: #000;
	font-size: 10px;
}

input.flexible,                      /* Used for input that should scale to fit available space */
textarea.flexible
{
	width: 100%;
	/*_width: 95%;*/
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}

select                               /* Standard select */
{
	font-size: 9pt; 
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	border-color: #999 #ddd #ddd #999;
	border-style: solid;
	border-width: 1px;
	padding: 1px;
}

select.flexible {
	width: 100%;
}

input.checkbox                      /* Standard size checkboxes */
{
	width: 14px;
	height: 14px;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}

input.radiobutton {
	position: relative;
	top: 3px;
}

input.inline_checkbox               /* Checkboxes inline with text*/
{
	width: 14px;
	height: 14px;
	border-width: 0px;
	margin: 5px 3px 0px 0px;
	padding: 0px;
}

/* =================== Labels ===================== */


.checkbox_label                    /* Labels appearing next to checkboxes */
{
	color: #666;
	margin-left: 4px;
	font-size: 10pt;
}

.checkbox_label_small              /* Small labels appearing next to checkboxes */
{
	color: #666;
	margin-left: 4px;
	font-size: 10px;
}

.input_label_above                 /* Used for small discrete labels above input */
{
	font-size: 8pt;
	color: #676d80;
}


th.form_label,                     /* Standard size formula labels */
td.form_label
{
	font-size: 10pt;
	font-weight: normal;
	color: #444;
	vertical-align: top;
	padding-right: 10px;
	text-align: right;
}

.form_separator
{
	font-size: 10pt;
	border-bottom: solid 1px #ccc;
	color: #999;
	margin: 10px 0 5px 0;
	margin-top: 15px;
}

.form_header
{
	font-size: 12pt;
	text-align: center;
	margin-bottom: 15px;
	padding-top: 20px;
	font-weight: bold;
	color: #9EA4BC;
}

/* ================== Dialogs ===================== */

.dialog_title
{
	font-size: 10pt;
	font-weight: bold;
	margin-bottom: 5px;
}

.dialog_text
{
	margin-bottom: 5px;
	font-size: 9pt;
}

/* =================== Matrix =================== */

.matrix_header
{
	font-weight: bold;
	color: #666;
}

.matrix_separator
{
	border-top: solid 1px #ccc;
}

/* =================== Toolbar =================== */

.bar {
	background-image:url(../images/CABO_ToolBar/cabomenubar-background.png);
}

div.bar
{
	background-image:url(../images/CABO_ToolBar/cabomenubar-background.png);
	height: 24px; padding: 3px; border-bottom: solid 1px #ccc;
}

.bar select                               /* Standard select */
{
	font-size: 9pt; 
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	border-color: #999 #ddd #ddd #999;
	border-style: solid;
	border-width: 1px;
	padding: 1px;
}

/* ================= small icon button =====================*/

a.iconbutton {
	font-size: 9pt;
	padding: 3px 5px 3px 4px;
	background-image: url('../images/login/button_bg.gif');
	border: solid 1px #eee;
	border-color: #ddd #eee #eee #ddd;
	margin: 0px;
	float: left;
}

a.iconbutton:hover {
	border: solid 1px #ddd;
	background-color: #eee;
	color: #000;
	text-decoration: none;
	background-image: none;
	margin: 0px;
}

a.iconbutton:focus {
	color: #000;
}

a.iconbutton img {
	margin-right: 3px;
	float: left;
}


/* ================= large icon button =====================*/

a.large_iconbutton {
	font-size: 9pt;
	padding: 2px 0px 0px 2px;
	border: solid 1px #eee;
	background-color: #f4f4f4;
	border-color: #d0d0d0 #d0d0d0 #b0b0b0 #b0b0b0;
	margin: 0px;
	float: left;
	cursor: pointer;
}

a.large_iconbutton:hover {
	/*border: solid 1px #ddd;*/
	background-color: #eeeeee;
	color: #000;
	text-decoration: none;
	background-image: none;
	margin: 0px;
}

a.large_iconbutton:focus {
	color: #000;
}

a.large_iconbutton img {
	margin-right: 3px;
	float: left;
}


/* ======================= Mini calendar ======================== */

td.calendar_minical_dayname
{
	width: 20px;
	height: 15px;
	text-align: center;
}

/* ====================== Auto completion ======================= */

div.autocomplete {
	position:absolute;
	width:300px;
	background-color:white;
	border:1px solid #ccc;
	margin:0px;
	padding:0px;
	z-index:100;
}
div.autocomplete ul {
	list-style-type: none;
	margin:0px;
	padding:0px;
}
div.autocomplete ul li.selected { background-color: #ffb; color: #000;}
div.autocomplete ul li {
	list-style-type: none;
	display:block;
	margin:0;
	padding:6px 2px 6px 20px;
}
div.autocomplete ul li span {
	font-weight: bold;
	display: block;
}

/* =========================== Cabo picker ===================== */

div.cabo_picker
{
	background-color: #eee;
	padding: 3px;
}

div.cabo_picker select
{
	margin-top: 3px;
}

a.cabo_picker_delete {
	font-size: 9pt;
	padding: 3px 5px 3px 4px;
	background-image: url('../images/login/button_bg.gif');
	border: solid 1px #eee;
	border-color: #ddd #eee #eee #ddd;
	margin: 0px 4px 0px 0px;
	float: left; 
}

a.cabo_picker_delete:hover {
	border: solid 1px #ddd;
	background-color: #eee;
	color: #000;
	text-decoration: none;
	background-image: none;
}

a.cabo_picker_delete img {
	margin-right: 3px;
	float: left;
}

/* ========================= Object lists ======================= */

.object_list
{
	display: block;
	padding: 2px 2px 1px 4px;
	height: 18px;
}
.object_list:hover
{
	background-color: #eee;
	text-decoration: none;
	color: #000;
}
.object_list span
{
	position: relative;
	top: 1px;
	float: left;
}
.object_list strong
{
	float: right;
	color: #fff;
	background-color: #d0d0d0;
	padding: 1px 3px 1px 3px;
	margin-top: 1px;
	margin-right: 3px;
}
.object_list img
{
	margin: 0px 5px 0px 3px;
	border: 0px;
	float: left;
}
.object_list_selected
{
	background-image: url('../images/bg.png');
}
.object_list_selected span
{
	color: white;
	font-weight: bold;
}

.object_list_selected strong
{
	background-color: #fff;
	color: #889;
}

	/* Divider */
	
.object_list_divider
{
	border-bottom: solid 1px #ddd;
	margin: 15px 5px 10px 7px;
}

.object_list_divider div
{
	position: absolute;
}

.object_list_divider div span
{
	position: relative;
	top: -8px;
	left: 18px;
	color: #aaa;
	background-color: #fff;
	padding: 0 3px;
}

.iconcol {width: 10px; padding-left: 0px; padding-right: 0px;}

