
/* ================ General ================ */

body 
{
	font-size: 11px; 
	font-family: Verdana, Arial, Helvetica, sans-serif;
	background-color: #ddd;
}

form
{
	margin:0px;
	padding:0px;
}

img
{
	border-width:0px;
	border-style:none;
}

hr
{
	border: 0px;
	color: #929292;
	background-color: #929292;
	height: 1px;
	width: 130px;	
}

h1
{
	margin-bottom:0px;
}

td
{
	font-size: 11px;
}

/* ================ Links ================ */


a:link,a:visited,a:active
{
	cursor:pointer;
	color: #474747; 
	text-decoration: none;
}

a:hover,a:active
{
	cursor:pointer;
	color: #75A6D8;
	text-decoration: underline;
}



/* ============= ss-remote Menu =============== */

table.ss_remote_menu {
	width: 650px;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:11px;
	cursor: pointer;
	border: thin solid #aaa;
	background-color: #fff;

}

table.ss_remote_menu thead {
	background-color: #eee;
}

table.ss_remote_menu th {
	border: thin solid #aaa;
}
